 $bgColor: rgb(26, 23, 23);
$fontColor:white;


@import "home";
@import "nav";

*{
    margin:0;
}

body{
width:100vw;
height:100vh;
background-color: white;
font-size:16pt;
}
#content{
    
    width:100%;
    height:100%;
}
.content-panel{
    display:flex;
    width:100%;
    height:100%;
    border:2px solid white;
    justify-content: center;
    align-items: center;
}
