
.menu-frame{
    margin-top:2rem;
    border:2px solid black;
    height:100%;
    width:80%;
    background-color: $bgColor;
    @include mobile{
        margin-top:0;
        width:100%;
        height:100%;
        
    }
    

    overflow:auto;
    .menu-item{
        text-align: center;
        border-bottom:1px solid $fontColor;
        color:$themeFont;
        
        .dish-name{
            
            font-size:1.5rem;
            padding:1rem;
            padding-top:2rem;
            font-family: 'Eczar', serif;
        }
        .dish-desc{
                font-family: 'Courgette', cursive;
                padding:1.5rem;
                font-size:1rem;
                padding-bottom:2rem;
                color:$fontColor;
            }
    }
}