$navBG:rgb(24, 15, 15);

.top-panel{
    background-color:$bgColor;
    color:$themeFont;
    // position:fixed;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    height:3rem;
    @include mobile{
        position:static;
        height:5rem;
        padding:0;
    }

    #restaurant-icon{
        
        background-color: $themeFont;
        width:64px;
        height:64px;
        position:fixed;
        left:0.5rem;
        top:0.5rem;
        -webkit-mask-image: url(./icon.svg);
        mask-image:url(./icon.svg);
        -webkit-mask-size:64px;
        mask-size:64px;
        mask-repeat:no-repeat;
        @include mobile{
            position:static;
            width:4rem;
            height:4rem;
            -webkit-mask-size:4rem;
        mask-size:4rem;
            
        }
        
    }
    .nav-bar{
        @include mobile{
            font-size:1rem;
            padding:0;
            
            display:flex;
            justify-content: space-evenly;
        }
        button{
    font-family:$rusticHeader;

            height:100%;
            background-color: $bgColor;
            color:$themeFont;
            border:none;
            padding:1rem;
            font-size:1.5rem;
            width:15rem;
        @include mobile{
            padding:.5rem;
            font-size:1rem;
            
            width:auto;
        }
        }
        button:hover{
        }
    }
}